<h1> New Record</h1>
<form action="/orderline" method="post">
<table>
<tr> <td> Order Line: </td> <td> <input type="number" name="LineItemID" required> </td> </tr>
<tr> <td> OrderNumber: </td> <td> <input type="number" name="OrderNumber" required> </td> </tr>
<tr> <td> Product ID: </td> <td> <input type="number" name="Product_ID"  required></input> </td> </tr>
<tr> <td> Qty: </td> <td> <input type='number' name="Qty"   required></input> </td> </tr>
<tr> <td> Sale Price: </td> <td> <input type="number" name="SalePrice" required> </td> </tr>

</select> </td> </tr>
</table>
<button type="submit">Save</button>
</form>
