<h1> New Record</h1>
<form action="/supply" method="post">
<table>
    <tr> <td> Supplier ID: </td> <td> <input type="text" name="Supplier_ID" required> </td> </tr>
    <tr> <td> Company Name: </td> <td> <input type="text" name="CompanyName" required> </td> </tr>
    <tr> <td> Conatact Name: </td> <td> <textarea name="ContactName" rows="10" cols="30" placeholder="Contact Name"></textarea> </td> </tr>
    <tr> <td> City: </td> <td> <textarea name="City" rows="10" cols="30" placeholder="City"></textarea> </td> </tr>
    <tr> <td> Country: </td> <td> <input type="text" name="Country" required> </td> </tr>
    <tr> <td> Phone Number: </td> <td> <input type="text" name="Phonenumber" required> </td> </tr>
</select> </td> </tr>
</table>
<button type="submit">Save</button>
</form>