
    <p> My Contact Page - AutoPartsHub</p>
    <h1>Contact Information</h1>
    <p>Email: <a href="mailto:mpawlowski5467@gmail.com">mpawlowski5467@gmail.com</a></p>
    <p>Phone: 123-456-7890</p>
    <h1>Website is under development</h1>
  <footer>
      <p>
        &copy;
    
          <script>
            var today= new Date();
            document.write(today.getFullYear());
          </script>
        AutoPartsHub, All Rights Reserved
      </p>
      </footer>
