<div id="footer" style="background-color:hsl(34, 95%, 16%);">
    <h5>This is footer </h5>

    <center>
        <a href="/privacy">Privacy Policy</a>
        <a href="/help"> Help</a>
    </center>
    </div>