
    <p>Help - AutoPartsHub</p>
    <p>
         We are here to help you with an issues that might come up
    </p>
<footer>
  <p>
    &copy;

      <script>
        var today= new Date();
        document.write(today.getFullYear());
      </script>
    AutoPartsHub, All Rights Reserved
  </p>
  </footer>



  </body>
</html>
