<p>We offer a large comprehensive selection of car parts/accessories for customers that DIY mechanics. With the focus on quality, reliability, and affordability. AutoPartHub what customers to feel empowered to be able to customize and enhance their vehicles to reflect their unique style and performance.  </p>
    <footer>
      <p>
        &copy;
    
          <script>
            var today= new Date();
            document.write(today.getFullYear());
          </script>
        AutoPartsHub, All Rights Reserved
      </p>
      </footer>
    
  </body>
</html>
