
    <h1>Privacy Policies</h1>
    <p>
        We ensure that your data will be safe
    </p>
<footer>
  <p>
    &copy;

      <script>
        var today= new Date();
        document.write(today.getFullYear());
      </script>
    AutoPartsHub, All Rights Reserved
  </p>
  </footer>



  </body>
</html>
