<h1> New Record</h1>
<form action="/order" method="post">
    <table>
        <tr> <td> Order Number: </td> <td> <input type="number" name="OrderNumber" required> </td> </tr>
        <tr> <td> Customer ID: </td> <td> <input type="number" name="Customer_ID" required> </td> </tr>
        <tr> <td> Time: </td> <td> <input type="date" name="Time" required> </td> </tr>
        <tr> <td> Total Amount: </td> <td> <input type="number" name="TotalAmount" required> </td> </tr>
     </table>     
<button type="submit">Save</button>
</form>