<h1> Details </h1>
<table>
    <tr> <td>  Order Number: </td> <td> <%= onerec.OrderNumber %> </td> </tr>
    <tr> <td> Custimer ID: </td> <td> <%= onerec.Customer_ID %> </td> </tr>
    <tr> <td> Time: </td> <td> <%= onerec.Time %> </td> </tr>
    <tr> <td> Total Amount: </td> <td> <%= onerec.TotalAmount %> </td> </tr>


</table>