<% if (allrecs.length > 0) {%>
    <table border=1>
        <tr>
            <th> Product ID </th>
            <th> Product Name </th>
            <th> Retail Price </th>
            <th> Packaging </th>
        </tr>

    <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.Product_ID %></td>
            <td><%= recref.Productname %></td>
            <td><%= recref.RetailPrice %></td>
            <td><%= recref.Packaging %></td>

    </tr>
    <% }); %>
    </table>
    <% } else { %>
        <p>Not Records Available</p>
    <% } %>

   
    