<h1> New Record</h1>
<form action="/customer" method="post">
<table>
    <tr> <td> ID: </td> <td> <input type="text" name="ID" required> </td> </tr>
    <tr> <td> First Name: </td> <td> <input type="text" name="FirstName" required> </td> </tr>
    <tr> <td> Last Name: </td> <td> <input type="text" name="LastName" required></input> </td> </tr>
    <tr> <td> Address 1: </td> <td> <input type="text" name="Address1"  required></input> </td> </tr>
    <tr> <td> Address 2: </td> <td> <input type="text" name="Address2" > </td> </tr>
    <tr> <td> City: </td> <td> <input type="text" name="City" required> </td> </tr>
    <tr> <td> State: </td> <td> <input type="text" name="State" required> </td> </tr>
    <tr> <td> Zip Code: </td> <td> <input type="number" name="Zip" required> </td> </tr>
    <tr> <td> Country: </td> <td> <input type="text" name="Country" required> </td> </tr>
    <tr> <td> Email: </td> <td> <input type="text" name="Email" required> </td> </tr>
    <tr> <td> Phone Number: </td> <td> <input type="text" name="PhoneNumber" required> </td> </tr>
    <tr> <td> Username: </td> <td> <input type="text" name="Username" required> </td> </tr>
    <tr> <td> Password: </td> <td> <input type="password" name="Password" required> </td> </tr>
</select> </td> </tr>
</table>
<button type="submit">Save</button>
</form>

