<div>
    <form action="/customer/login" method="post" >
        <p>
        <label for="username">Username</label>
        <input type="text" id="Username" name="Username" required>
        </p>
    
        <p>
        <label for="password">Password</label>
        <input type="password" id="Password" name="Password" required>
        </p>
    
        <p>
        <input type="submit" value="Submit">
        </p>
      </form>
    </div>